{
  "dyn_sys": "kolmogorov",
  "random_seed": 31,
  "save_filename": "/data/invobs-da-data/kolmogorov_correlation.nc",
  "grid_size": 64,
  "observe_every": 1,
  "num_samples": 1000000,
  "batch_size": 10000,
  "num_warmup_steps": 800,
  "num_inner_steps": 25,
  "viscosity": 1e-2,
  "peak_wavenumber": 4
}
