{
  "dyn_sys": "lorenz96",
  "da_init": "baseline",
  "obs_space_opt_steps": 400,
  "physics_space_opt_steps": 100,
  "random_seed": 41,
  "save_filename": "/data/invobs-da-data/lorenz96_baselineinit_hybridopt.nc",
  "dt": 0.1,
  "grid_size": 40,
  "observe_every": 4,
  "num_samples": 100,
  "num_time_steps": 10,
  "num_warmup_steps": 200,
  "correlation_filename": "/data/invobs-da-data/lorenz96_correlation.nc",
  "invobs_model_filename": "/data/invobs-da-data/lorenz96_invobs_model.pickle"
}
