{
  "dyn_sys": "kolmogorov",
  "random_seed": 31,
  "save_filename": "kolmogorov_da_test_results.nc",
  "grid_size": 64,
  "observe_every": 16,
  "num_samples": 2,
  "num_time_steps": 10,
  "num_warmup_steps": 800,
  "num_inner_steps": 25,
  "viscosity": 1e-2,
  "peak_wavenumber": 4,
  "obs_space_opt_steps": 2,
  "physics_space_opt_steps": 2,
  "da_init": "baseline",
  "correlation_filename": "/data/invobs-da-data/kolmogorov_correlation.nc",
  "invobs_model_filename": "/data/invobs-da-data/kolmogorov_invobs_model.pickle"
}
