{
  "dyn_sys": "kolmogorov",
  "random_seed": 17,
  "max_num_train": 32000,
  "max_num_test": 256,
  "batch_size": 8,
  "learning_rate": 1e-3,
  "num_epochs": 500,
  "checkpoint_dir": "/data/invobs-da-data/training_checkpoints_kolmogorov",
  "save_filename": "/data/invobs-da-data/kolmogorov_invobs_model.pickle",
  "data_filename": "/data/invobs-da-data/kolmogorov_training_data.nc"
}
